---
import Default from '../../layouts/default.astro'
import {published} from '../../blog.ts'
import { date } from '../../utils'

const posts = await published()
---
<Default title="Blog index">
  <h1>Blog posts</h1>
  {posts.map(post =>
  <section>
    <h3><a href={`/blog/${post.id}`}>{date(post.data.pubDate)}: {post.data.title}</a></h3>
    <p>{post.data.description}</p>
  </section>)}
</Default>
